.produto__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto__imagem {
    width: 50vh;
    margin-right: 2em;
}

.botoes {
    text-align: center;
}

.botoes button {
    margin-left: 1em;
}

.avaliacao {
    text-align: center;
}

.avaliacoes {
    padding: .5em;
    border-bottom: 1px solid #808080;
}